/Proyecto/P5Ej04/P5Ej04/nbproject/private/
/Proyecto/P5Ej03/P5Ej03/nbproject/private/
/Proyecto/AYED/src/tp2/otros/*      
/Proyecto/AYED/build/classes/tp2/otros/*
/Proyecto/AYED/src/tp3/extra/*      
/Proyecto/AYED/build/classes/tp3/extra/*
/Proyecto/AYED/nbproject
/Proyecto/AYED/build/classes/.netbeans_automatic_build
/Proyecto/AYED/build/classes/.netbeans_update_resources